@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@fontsource-variable/darker-grotesque";

@theme {
  --font-sans: "Darker Grotesque Variable", "sans-serif";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.prose pre {
  background-color: #191919 !important;
}
