---
const { label, route } = Astro.props;
const isActive = Astro.url.pathname === route;
---

<!-- TODO: page transition animations -->
<a
  href={route}
  class={`px-7 py-1 text-center text-xl items-center justify-center transition-colors duration-200
    ${
      isActive
        ? "rounded-[14px] lg:bg-[#191919] lg:border-[1.2px] border-[#232323] text-[#efefe5]"
        : "text-[#a6a6a2] hover:text-[#efefe5]"
    }`}
>
  {label}
</a>
